<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Boolean" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="Integer" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="Byte" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="ByteOverflow" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="Decimal" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="DateTime" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="TimeSpan" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="Enum" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="EnumWithFlags" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="Class" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="Class1" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="NotExists" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
    <section name="ClassXml" type="GenericConfigHandler.GenericConfigSectionHandler, GenericConfigHandler" />
  </configSections>

  <Boolean>True</Boolean>
  <Integer>1</Integer>
  <Byte>255</Byte>
  <ByteOverflow>256</ByteOverflow>
  <Decimal>45.8</Decimal>
  <DateTime>2018-05-15 15:26:37.123</DateTime>
  <TimeSpan>13:35:37</TimeSpan>
  <Enum>EnumValue1</Enum>
  <EnumWithFlags>EnumValue2,EnumValue3</EnumWithFlags>
  <Class>
    <![CDATA[
    {
      "Integer" : 5,
      "String" : "SomeString",
      "InnerObject" :
      {
        "Integer1" : 6,
        "String1" : "OtherString",
        "Array" : [2, 4, 6]
      }
    }]]>
  </Class>
  <Class1>
    {
    "Integer" : 5,
    "String" : "SomeString"
    }
  </Class1>

  <ClassXml Integer="5" String="SomeString">
    <InnerObject Integer1="6" String1="OtherString">
      <list>
        <item>2</item>
        <item>4</item>
        <item>6</item>
      </list>
    </InnerObject>
  </ClassXml>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>